/*
div {
    display:flex;
    background: black;
    color: white;
    border: 1px dashed;
    align-items: center;
    justify-content: center;
  }
  p:hover {
    font-size: 100px;;
  }
  */
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1)),url(bg.jpg);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

header {
  background-image: url(head.jpg),linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1));
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
  background-blend-mode:overlay;
  margin: 0 2vw;
  /*
  border: 3px dashed;
  */
  border-radius: 4vw;
}

nav {
  margin: 2vw 1vw;
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #fff1;  
  border-radius: 4vw;
}

nav p {
  margin: 1vw 1vw;
  padding: 0.4vw 1vw;
  background-color: aqua; 
  border-radius: 2vw;
  overflow:clip;
}

nav p:hover {
  background-color: #f0d8df;
  color: #500;
}
nav a {
  text-decoration: none;
  color: black;
}

.arrow {
  text-decoration: none;
  color:aqua;
  position: relative;
  margin:auto;
}

.arrow:hover {
  color: #f0d8df;
}

.quien {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-basis: 25vh;
  min-width: 40vw;
}
.quien p, .quien img, .int p {
  margin: 2vw;
  overflow:auto;
}
.int img{
  margin: 2vw;
  overflow:hidden;
  width: auto;
  height: auto;
  min-width: 40%;
  max-width: 256px;
}
.int {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5%;
  flex-basis: 25vh;
  min-width: 40vw;
}
.quien img {
  width: auto;
  height: auto;
  max-height: 90%; 
}
.proLink {
  background-color: aqua;
  text-decoration: none;
  color:black;
  padding: 5%;
  border-radius: 2vw;
}
.proLink a {
  text-decoration: none;
  color:black;
}
.proy {  
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5%;
  flex-basis: 25vh;
  min-width: 40vw;
}
.proy a {
  align-self: flex-start;
  justify-self:center;
  flex-grow: 100%;
}
.proy img{
  margin: 2vw 0 2vw 14vw;
  overflow:hidden;
  width: auto;
  height: auto;
  min-width: 40%;
  max-width: 256px;
}
.proyLinks {
  display:flex;
  flex-direction: column;
  margin: 2vw;
  justify-content: space-around;
}
div.header-contenedor-flex {
  display:flex;
  height: 10%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.header-contenedor-flex p {
  color: #f0d8df;
  background-color: black;
  padding: 0 1vh;
  font-weight: bold;
  font-size: 3em;
  font-variant: small-caps;
  font-family: sans-serif;
  border-radius: 3vw;
  padding: 0 2vw;
}

.main {
  display: flex;
  flex-direction: column;
}

aside, footer {
  border: 5px dashed white;
  width: auto;
  height: 40vh;
  margin: 5vw;
  border-radius: 2vw;
  color: azure;
}

footer {
  height: 20vh;
  display:flex;
  justify-content: center;
  align-items: end;
  padding: 1rem;
  /*max-width: 40vw;*/
  flex-grow: 2;
}

footer a:link {
  color: azure;
}

footer a:visited {
  color: blue;
}

footer a:hover {
  color: magenta;
}

footer a:active {
  color: red;
} 

footer img{
  margin: 2vw;
  overflow:hidden;
  width: auto;
  height: 480px;
  min-height: 40%;
  max-height: 100%;
  align-self: center;
}

@media (min-width: 800px) {
  div.header-contenedor-flex p {
  font-size: 40px;
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .proy {
    margin:4% auto 5% 4%;
  }
  .proy img{
    margin: 2vw;
    overflow:hidden;
    width: auto;
    height: auto;
    min-width: 40%;
    max-width: 256px;
  }
  aside {
    border: 5px dashed white;
    width: 44vw;
    height: 60vh;
    margin: 1vw;
    border-radius: 2vw;
  }
  footer {
    align-self: flex-end;
  }
  footer .arrow{
    order:-1;
    margin:0 0 0 -20%;
    align-self: center;
  }
  footer img{
    margin: 0vw;
    overflow:hidden;
    width: auto;
    height: 50%;
    min-height: 40%;
    max-height: 100%;
  }
}
@media (max-width: 800px) {
  div.header-contenedor-flex p {
  font-size: 36px;
  }  
}
@media (max-width: 700px) {
  div.header-contenedor-flex p {
  font-size: 32px;
  }  
}
@media (max-width: 600px) {
  div.header-contenedor-flex p {
  font-size: 28px;
  }
}
@media (max-width: 500px) {
  div.header-contenedor-flex p {
  font-size: 24px;
  }
}
@media (max-width: 400px) {
  div.header-contenedor-flex p {
  font-size: 20px;
  }
}
@media (max-width: 300px) {
  div.header-contenedor-flex p {
  font-size: 16px;
  }
}