/*-------------------- Base --------------------*/

* {
  margin: 1px;
  padding: 1px;
  border: 0 dotted var(--gris);
  scroll-behavior: smooth;
}

.pal0 {
  --dark1: #22223b;
  --dark2: #4a4e69;
  --light1: #9a8c98;
  --light2: #c9ada7;
  --gris: #f2e9e4;
}

.pal1 {
  --dark1: #632a50;
  --dark2: #745296;
  --light1: #91f5ad;
  --light2: #c2e812;
  --gris: #8b9eb7;
}

.pal2 {
  --dark1: #1d3557;
  --dark2: #457b9d;
  --light1: #a8dadc;
  --light2: #f1faee;
  --gris: #e63946;
}

.pal3 {
  --dark1: #00296b;
  --dark2: #003f88;
  --light1: #fdc500;
  --light2: #ffd500;
  --gris: #00509d;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  background: radial-gradient(var(--dark1) 15%, transparent 16%) 0 0,
    radial-gradient(var(--dark1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: var(--dark1);
  background-size: 16px 16px;
}

/*-------------------- Animaciones y loader --------------------*/

@keyframes boing {
  0% {
    transform: skew(0deg 0deg);
  }
  30% {
    transform: skew(-25deg -25deg);
  }
  40% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(-15deg, -15deg);
  }
  65% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg 0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatebottom {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes baja {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  25% {
    margin-top: 0.5vh;
    margin-left: 0.25vw;
  }
  50% {
    margin-top: 1vh;
    margin-left: 0;
  }
  75% {
    margin-top: 0.5vh;
    margin-left: -0.25vw;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes flipatext {
  to {
    background-position: 300% center;
  }
}

#loader {
  width: 100%;
  height: 99vh;
  top:0;
  left:0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--dark2);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark2);
  transition: 3s;
}

#loader > span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1002;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid var(--dark1);
  border-radius: 50%;
  border-top: 16px solid var(--light1);
  animation: spin 0.5s linear infinite;
}

#carga {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ClickuperRegular";
  font-weight: normal;
  font-style: normal;
}

#carga h1,
#carga h4 {
  display: block;
  text-align: center;
  font-variant: small-caps;
  font-weight: 600;
  padding: 0.1vh 1.2vw;
  border-radius: 25px;
  background-color: var(--dark2);
  transition: 2s;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

#myDiv {
  display: none;
  text-align: center;
}

/*-------------------- Header --------------------*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 0px;
  padding: 0px;
  left: -1px;
  top: -1px;
  background-color: var(--gris);
  color: var(--dark1);
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
}

.header-contenedor-flex p {
  font-size: min(6vw, 40px);
  font-variant: small-caps;
  font-weight: 600;
  border-bottom: 1px dotted var(--dark1);
  background: linear-gradient(
    to right,
    var(--dark1) 10%,
    var(--dark2) 50%,
    var(--light1) 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flipatext 5s linear infinite;
  font-family: "ClickuperRegular";
  font-weight: bold;
  font-style: normal;
}

#menu {
  position: absolute;
  top: 1vh;
  left: 2%;
  background-color: var(--dark1);
  width: 2vw;
  height: 2vw;
  border: 5px solid transparent;
  border-radius: 100%;
  transition: 0.4s;
  cursor: pointer;
}

#menu:hover {
  width: 3vw;
  height: 3vw;
  border-radius: 0;
  border: 0px solid transparent;
  background-color: var(--light2);
  animation-delay: 0.4s;
  animation: baja 0.5s linear infinite;
}

.noanim {
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 0 !important;
  border: 0px solid transparent !important;
  background-color: var(--light2) !important;
  animation: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 1px;
  margin-left: 1vw;
  gap: 2vw;
  position: fixed;
  z-index: 99;
  top: -6vh;
  transition: 0.5s;

  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-variant: normal;
}

nav a {
  display: block;
  background-color: var(--dark1);
  border: 1px solid var(--light2);
  color: var(--light1);
  border-radius: 25% 0;
  text-decoration: none;
  font-weight: 200;
  transition: 0.5s;
  padding: 1px;
}

nav a:hover,
.proyLinks a:hover {
  background-color: var(--light2);
  color: var(--dark1);
  animation: boing 0.5s both;
}

/*-------------------- Main --------------------*/

.main aside {
  display: flex;
  width: 100 vw;
  height: 80vh;
  padding-top: 15vh;
  color: var(--light1);
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
}

aside img {
  margin: 10%;
}

.nomSec {
  display: block;
  position: absolute;
  margin-bottom: 60vh;
  color: var(--light2);
  font-family: "Freehand521BTRegular";
  font-weight: normal;
  font-style: normal;
  font-size: min(4vw, 30px);
  font-variant: normal;
}

.quien img {
  border-radius: 25px;
}

.intP {
  display: block;
  width: 40%;
  text-align: justify;
}

.proy {
  gap: 10%;
}

.proyLinks a {
  display: block;
  background-color: var(--dark1);
  color: var(--light1);
  border: 1px solid var(--light2);
  text-decoration: none;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-weight: 200;
  border-radius: 50% 0;
  transition: 0.5s;
}

img {
  max-height: min(50%, 45vw);
  width: auto;
}

/*-------------------- Footer --------------------*/

footer {
  display: flex;
  height: 5vh;
  bottom: 0px;
  position: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
  left: -1px;
  background-color: var(--gris);
  justify-content: center;
  align-items: center;
}

footer > button {
  background-color: transparent;
  border: 0;
}

footer > button > img {
  position: fixed;
  right: 0.1vh;
  bottom: 0.5vh;
  width: auto;
  height: 4vh;
  z-index: 1010;
}

footer > button > img:hover {
  background-color: var(--light1);
  cursor: grabbing;
}
footer > a {
  color: var(--dark1);
  text-decoration: none;
}

footer > a:hover {
  background-color: var(--light1);
}

/*-------------------- Paletas --------------------*/

#eligePaleta {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin: auto auto;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

#eligePaleta span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 101;
}

#eligePaleta span button {
  padding: 1vh;
  background-color: transparent;
}

#eligePaleta span button:hover {
  background-color: var(--light1);
  cursor: pointer;
}

/*-------------------- Responsive --------------------*/

@media (max-width: 400px) {
  #navig,
  aside p {
    font-size: 4vw;
  }

  .nomSec {
    margin-bottom: 90vh;
  }

  .int,
  .proy {
    flex-direction: column;
  }

  .intP {
    width: 90%;
  }

  .proLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  footer > button > img {
    height: min(4vh, 10vw);
    width: auto;
    right: 1vw;
    bottom: max(1vh, 2vw);
  }
}